
params {
    // new params
    base_dir          = "."
    fasta             = "${params.base_dir}/Homo_sapiens_assembly38.fasta"
    fasta_index       = "${params.base_dir}/Homo_sapiens_assembly38.fasta.fai"
    tumor_cram        = "${params.base_dir}/P155_tumor.recal.cram"
    tumor_cram_index  = "${params.base_dir}/P155_tumor.recal.cram.crai"
    normal_cram       = "${params.base_dir}/P155_normal.recal.cram"
    normal_cram_index = "${params.base_dir}/P155_normal.recal.cram.crai"

    prefix     = "strelka_variant"
    thread_num = 1
    outdir     = "results"
    tracedir   = "${params.outdir}/pipeline_info"
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }

    singularity {
        singularity.autoMounts = true
        singularity.enabled    = true
        charliecloud.enabled   = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.html"
}
